* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

/* Particle background */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  padding: 12px;
  text-align: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

/* Sections */
section {
  padding: 90px 20px;
  text-align: center;
}

#home {
  padding-top: 100px;
}

/* Home container */
.home-container {
  display: flex;
  min-height: 100vh; /* better than height */
  align-items: center;
}

/* LEFT SIDE - IMAGE */
.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT SIDE - TEXT */
.home-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: #990f0f;
}

/* Image style */
.profile-img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}






/* Profile image */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  border: 4px solid #990f0f;
  object-fit: cover;
  transition: 0.3s;
}

.profile-img:hover {
  transform: scale(1.1);
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #00bcd4;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #0097a7;
  transform: scale(1.05);
}

/* About text */
#about p {
  max-width: 600px;
  margin: auto;
  opacity: 0.9;
  line-height: 1.6;
}

/* Skills list */
#skills ul {
  list-style: none;
  margin-top: 20px;
}

#skills li {
  background: rgba(255,255,255,0.1);
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  transition: 0.3s;
}

#skills li:hover {
  background: #00bcd4;
  transform: scale(1.05);
}

/* Projects */
.project {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 10px;
  border-left: 4px solid #00bcd4;
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-5px);
  background: rgba(255,255,255,0.12);
}

/* Contact */
#contact p {
  margin: 10px 0;
}

/* Responsive */
@media (max-width: 768px) {
  #home h1 {
    font-size: 30px;
  }

  nav a {
    display: inline-block;
    margin: 8px;
  }

  .project {
    width: 90%;
  }
}
